@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

$background: #fafbff;
$button-width:200px;
$border-radius: 5px;


  .click-btn {
    display: flex;
    width: $button-width;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    line-height: 35px;
    border: 1px solid;
    border-radius: $border-radius;
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
  }

.btn-style510 {
    $btn-color: #e3e3e3;
    $btn-hover-color: #ac4243;
    position: relative;
    background-color: $btn-color;
    font-size: 22px;
    font-weight: 700;
    border-color: $btn-color;
    padding: 25px 15px;
    color: black;
    overflow: hidden;
    box-shadow: 0px 0px 1px black;
    &::before,
    &::after {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100px) skewX(-15deg);
      content: "";
    }
    &::before {
      width: 60px;
      background: rgba(255, 255, 255, 0.5);
      filter: blur(30px);
      opacity: 0.5;
    }
    &::after {
      width: 30px;
      left: 30px;
      background: rgba(255, 255, 255, 0.2);
      filter: blur(5px);
    }
    &:hover {
      background-color: $btn-hover-color;
      border-color: $btn-hover-color;
      &::before {
        opacity: 1;
      }
      &::before,
      &::after {
        transform: translateX(300px) skewX(-15deg);
        transition: all 0.9s ease;
      }
    }
  }
  .colorse {
    color: #000000 !important;
}  .colorse:hover{
    color: #ffffff !important;
}


@media screen and (max-width:450px){
    .btn_sec{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
