@import '../variabale/variabale';

.bg-color{
    background-color: rgb(245, 246, 246);
    color: rgb(57, 58, 52);
}
.position{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
}
.bg-colors{
    background-color: #8d949e;
    color: white;
}
.editor-bg-color{
    background-color: #ebedf0;
}
.thems-bg-color{
    background-color:$lightred;
    color: #58151c;
}
.warning-bg-color{
    background-color: #fff3cd;
    color: #664d03;
}
.a-fonts{
    font-size: 12px;
}
.accordions{
    background-color: rgb(245, 246, 246);
}
.actives:active{
    background-color: #bbbbbb;
}
.Scrollbar{
    width: 100%;
    height: 100vh;
    overflow-y: auto; 
}
td{
    vertical-align: top;
    padding-left: 5px;

th{
    vertical-align: top;
    padding-left: 5px;
    
}
}
@media screen and (min-width:"576px") {
    td{
        vertical-align: top;
        padding: 10px 0px 10px 23px;
    
    th{
        vertical-align: top;
        padding: 10px 0px 10px 15px;
    }
    }
}

.accordion-item:not(:first-of-type) {
    border: none;
}
.Link-actives:active{
    background-color: #d3d3d3;
}
.guide{
    background-color: #cff4fc;
    .guide-color{
        color: #032830;
        font-weight: bold;
    }
}
.Heads{
    background-color: #fff3cd;
    .Heads-color{
        color: #664d03;
        font-weight: bold;
    }
}